In [1]:
import sqlite3
import pandas as pd

In [2]:
con = sqlite3.connect("vk_data.db")
df_vk_pages = pd.read_sql("SELECT * from VkPages", con)
df_vk_photos = pd.read_sql("SELECT * from Photos", con)
df_vk_walls = pd.read_sql("SELECT * from VkWalls", con)

In [3]:
df_vk_pages.head()

   id  page_id            pagename  target
0   1  2445590     Сергей Надточий       0
1   2  3292776  Евгений Малеванчук       1
2   3  3485629   Вячеслав Каталкин       1
3   4  3486343   Александр Лобанов       0
4   5  4406445   Александр Евсюков       1

In [4]:
del df_vk_photos['id']

In [5]:
del df_vk_walls['id']

In [6]:
df_vk_photos.rename({'page_id':'id'}, axis=1, inplace=True)
df_vk_walls.rename({'page_id':'id'}, axis=1, inplace=True)

In [7]:
df_vk_photos.head()

  id photo_id  count_photos
0  1  2445590             0
1  2  3292776            73
2  3  3485629            37
3  4  3486343           123
4  5  4406445            45

In [8]:
df_vk_walls.head()

  id  wall_id  posts_count  likes_count  reposts_count
0  1  2445590           25           56              5
1  2  3292776          364         1532             55
2  3  3485629          118          609             24
3  4  3486343         1281         2314             70
4  5  4406445          204         1526             33

In [9]:
df_vk_pages.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 155 entries, 0 to 154
Data columns (total 4 columns):
id          155 non-null int64
page_id     155 non-null object
pagename    155 non-null object
target      155 non-null int64
dtypes: int64(2), object(2)
memory usage: 3.7+ KB

In [10]:
df_vk_photos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 155 entries, 0 to 154
Data columns (total 3 columns):
id              155 non-null object
photo_id        155 non-null object
count_photos    155 non-null int64
dtypes: int64(1), object(2)
memory usage: 2.5+ KB

In [11]:
df_vk_walls.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 149 entries, 0 to 148
Data columns (total 5 columns):
id               149 non-null object
wall_id          149 non-null object
posts_count      149 non-null int64
likes_count      149 non-null int64
reposts_count    149 non-null int64
dtypes: int64(3), object(2)
memory usage: 4.7+ KB

In [12]:
df_page_info = pd.merge(df_vk_photos, df_vk_walls, on='id')

In [13]:
df_page_info.head()

  id photo_id  count_photos  wall_id  posts_count  likes_count  reposts_count
0  1  2445590             0  2445590           25           56              5
1  2  3292776            73  3292776          364         1532             55
2  3  3485629            37  3485629          118          609             24
3  4  3486343           123  3486343         1281         2314             70
4  5  4406445            45  4406445          204         1526             33

In [14]:
df_vk_pages.head()

   id  page_id            pagename  target
0   1  2445590     Сергей Надточий       0
1   2  3292776  Евгений Малеванчук       1
2   3  3485629   Вячеслав Каталкин       1
3   4  3486343   Александр Лобанов       0
4   5  4406445   Александр Евсюков       1

In [15]:
df_page_info['id'] = pd.to_numeric(df_page_info['id'])

In [16]:
df_page_info.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 149 entries, 0 to 148
Data columns (total 7 columns):
id               149 non-null int64
photo_id         149 non-null object
count_photos     149 non-null int64
wall_id          149 non-null object
posts_count      149 non-null int64
likes_count      149 non-null int64
reposts_count    149 non-null int64
dtypes: int64(5), object(2)
memory usage: 8.1+ KB

In [17]:
df_vk_pages.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 155 entries, 0 to 154
Data columns (total 4 columns):
id          155 non-null int64
page_id     155 non-null object
pagename    155 non-null object
target      155 non-null int64
dtypes: int64(2), object(2)
memory usage: 3.7+ KB

In [18]:
df = pd.merge(df_vk_pages, df_page_info, on='id')

In [19]:
del df['photo_id']

In [20]:
del df['wall_id']

In [21]:
df

,id,page_id,pagename,target,count_photos,posts_count,likes_count,reposts_count
0,1,2445590,Сергей Надточий,0,0,25,56,5
1,2,3292776,Евгений Малеванчук,1,73,364,1532,55
2,3,3485629,Вячеслав Каталкин,1,37,118,609,24
3,4,3486343,Александр Лобанов,0,123,1281,2314,70
4,5,4406445,Александр Евсюков,1,45,204,1526,33
5,6,6903776,Дмитрий Фортунатов,0,0,29,70,4
6,7,7040063,Лёшка Назаров,1,225,2848,35447,2914
7,8,7723602,Мария Молчанова,0,75,103,2120,8
8,9,7951600,Антон Мирошниченко,0,43,757,605,9
9,10,8022619,Дмитрий Шубин,0,104,1092,3537,354
10,11,8408176,Максим Бруквин,0,0,10,48,0
11,12,10090175,Ирина Кравец-Троценко,1,126,638,1634,76
12,13,10118213,Денис Бойко,0,21,26,284,0
13,15,12346016,Кирилл Шашков,0,81,26,78,0
14,16,12916970,Григорий Мелехов,0,22,2382,4078,119
15,17,14959112,Антон Ромахин,1,4,106,538,32
16,18,15690855,Александр Свистунов,0,0,87,283,0
17,19,15799579,Дарья Басина,0,7,31,303,0
18,20,16291369,Ксения Кузнецова,0,9,17,353,5
19,21,16328140,Денис Ярославцев,0,36,16,461,12
20,22,16414118,Дарья Добрынина,0,81,109,2478,16
21,23,18895912,Александр Александров,0,0,40,93,2
22,24,20744600,Борис Третьяков,0,96,654,1558,74
23,25,21311845,Ольга Никитина,0,161,225,6112,15
24,26,21511055,Иришка Шмакова,0,143,517,2669,57
25,27,21739906,Оксана Овчаренко,0,70,178,5213,27
26,28,24374891,Даниил Голубев,0,15,226,296,50
27,29,24551066,Андрей Жиров,0,23,10,98,0
28,30,26965241,Никита Вергунов,0,6,253,1034,39
29,31,27279005,Алексей Гражданов,0,0,11,84,10
...,...,...,...,...,...,...,...,...
119,123,396348945,Лариса Чемерис,0,4,1,0,0
120,124,417845456,Владимир Коршунов,0,7,8,215,0
121,125,433194982,Николай Титов,0,16,638,433,32
122,126,520772848,Оксана Зубарева,0,82,32,265,1
123,127,481998823,Gart Press,1,4,6,50,2
124,128,544463462,Unichtozhenie Nasekomykh,1,12,13,78,14
125,129,435274613,Passion Photo,1,3,70,1511,26
126,130,540857951,Vera More-Radosti,1,38,38,48,3
127,132,538113046,Kseniya Montano,1,7,9,117,2
128,133,288837530,Alyonushka Bugrinskaya,1,84,79,355,16
129,134,144474122,Nikolay Romanov,1,2,2,4,0
130,135,527348423,Obskaya Sloboda,1,13,55,110,4
131,136,297941946,Banyaslav Vorobyev,1,24,45,319,36
132,137,479039674,Tatyana Divayn,1,92,183,62,4
133,138,475677454,Alexey Kreder,1,38,221,2523,10
134,139,545182335,Elena Elena,1,103,74,199,12
135,141,538100059,Chistovye---Raskhodnye-Materialy Novosibirsk,1,12,43,10,0
136,142,327239829,Maria Κoroleva,1,851,869,2170,51
137,143,150449346,Tatyana Osipenko,1,191,1083,2017,525
138,145,536842530,Kristina Nsk,1,1,11,5,0
139,146,528859123,Nogti-Na-MZhK Chukhnova-Galina,1,990,245,1312,4
140,147,514546660,Premer Brand,1,401,380,2595,44
141,148,536636877,Koltsevaya Lampa,1,22,33,208,10
142,149,16226693,Evgenia Nurkeeva,1,105,221,1161,20
143,150,531803339,Aviva Charm,1,216,187,296,107
144,151,532346147,Karine Atayan,1,243,165,678,4
145,152,484613415,Fairy Dreads,1,15,44,269,15
146,153,529354851,I-I Kosmetika-Dlya-Volos,1,69,212,178,25
147,154,528882330,Magazin-Odezhdy-NOVOSIBIRSK MOVIS,1,118,123,206,2
148,155,504669765,Uznay Altay,1,113,137,452,10